/**{ affects everything
    margin:0;
    padding:0;
}*/

body{
    background-color: #f4f4f4;
    color:#555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:normal;
    /* same as abv */
    font: normal 16px Arial, Hevetica, sans-serrif; /* short ver */

    line-height:1.6em;
    margin:0;
}

a{ /* a = applies to any link on pg*/
    text-decoration: none;
    color:#000;
}

a:hover{ /*apply hover*/
    color:red;
}

a:active{ /* when clicked*/
    color:green;
}

/*a:visited{
   color:black;
}*/

.container{ /* a class */
    width:80%px;
    margin:auto; /* automatically even*/
}

.button{
    background-color:#333;
    color:#fff;
    padding:10px 15px;
    border:none;
}

.button:hover{
    background:red;
    color:#fff;
}

.clr{
    clear:both; /* clears floats abv it*/
}

.box1 {
    background-color: #333; /* 333=333333*/
    color:#fff;

    border-right:5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    border: 3px red solid; /* all sides*/
    border-bottom-width: 10px;
    border-top-style:dotted;

    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
    padding-left:20px;
    /* or short ver bellow*/
    padding:20px;

    margin-top:20px;
    margin:20px 0; 

}

.box1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}
.box2{
    border:3px dotted #ccc;
    padding:20px;
    margin:20px 0;
}

.categories{
    border:1px #ccc solid;
    padding:10px;
    border-radius:15px;
}

.categories h2{
    text-align:center;
}

.categories ul{
    padding:0;
    padding-left:20px;
    list-style:square;
    list-style:none;
} 

.categories li{
    padding-bottom: 8px;
    border-bottom:dotted 1px #333;
    list-style-image: url('../imgs/check.png');
}

.myForm{
    padding:20px;
}

.myForm .formGroup{ /* subclass ig?*/
    padding-bottom:15px;
}

.myForm label{
    display:block;
}

.myForm input[type="text"], .myForm textarea{ /* comma allows multi subs*/
    padding:8px;
    width:100%;
}

.block{
    float:left; /* creates row*/
    width:33.3%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing:border-box; /**/
}

#mainBlock{ /* # refers to id not class*/
    float:left;
    width:70%;
}

#sidebar{
    float:right;
    width:30%;
    background-color:#333;
    color:#fff;
    padding:15px;
    box-sizing: border-box;
}

.pBox{
    width:800px;
    height:500px;
    border:1px solid #000;
    margin-top:30px;
    position:relative; /* sets the pos rel to it's el instead of rel to pg*/
    background-image:url('../imgs/bgimage.jpeg');

    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position:center top;
}

.pBox h1{
    position:absolute;
    top:100px;
    left:200px;
}

.pBox h2{
    position:absolute;
    bottom:40px;
    right:100px;
}

.fixMe{
    position:fixed; /* position stuck on screen like article ad*/
    top:400px;
}

.myList li:first-child{ /* first item*/
    background:red;
}

.myList li:last-child{
    background: blue;
}

.myList li:nth-child(5){
    background: yellow;
}

.myList li:nth-child(even){
    background: grey;
}