/*Universal*/
.top-nav{
    display: none
}

body{
    font-size: 15px/1.5;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: white; 
}
.container{
    width:100%;
    margin:auto;
    overflow:hidden; 
}
.button{
    text-decoration: none;
    color: #000;
    background-color: lightgray;
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    border: 2px solid #000;
    margin: .5em 0;
}
.button:hover{
    opacity: 0.75;
}
/*Footer*/
footer{
    display: flex;
    font-size: 15px/1.5;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    width: 100%;
    height:10%;
    color: #fff;
    background-image: url(./img/footer.png);
    background-position: center;
    background-size: cover;
}
footer a{
    text-decoration: none;
    color: #fff;
    font-size: 15px/1.5;
}
.ft{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 3%;
    width: auto;
    flex: auto;
}
/*Navbar*/
.navbar{
    background:#fff;
    height: 120px;
    width: 100%;
    padding: 40px 0px;
    position: fixed;
    z-index: +1;
    margin-top:-240px;
    display:flex;
}
.navbar a{
    color: purple;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.navbar a:hover{
    color: lightblue;
}
.navbar .container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
}
.navbar ul{
    display: flex;
    list-style: none;
    padding: 0px;
}
.navbar ul li{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
}
.navbar logo{
    margin: 0%;
    position: fixed;
}

#main .bgImage, #wip .bgImage, #footer .bgImage, #news .bgImage, #camp2 .bgImage, #glry .g1, #glry .g2{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    z-index: -1;
    display: cover;
    overflow: hidden;
}


/*End of Universal*/

/*Main Page*/
#main{
    min-height:800px;
    text-align:center;
    background-image:url('./img/main.png'); 
    display: flex;
    text-justify: center;
}
body{
    margin-top:240px;
}
#main h1{
    font-size: 300%;
}

/*Main Blog Section*/
#camp{
    margin: 10%;
    color: blueviolet;
}
#camp text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#camp .button{
    background-color: blueviolet;
    color: #fff;  
}

#gallery{
    margin: 10%;
    margin-top: 0px;
    color: lightseagreen;
}
#gallery .button{
    background-color: lightseagreen;
    color: #fff;
}
/* Formatting for Gallery and Camp*/
.image-c{
    display: flex;
    flex-flow: wrap;
    
}
.con-item{
    width:100%; 
}
.con-item img {
    max-height: 100%;
    max-width: 100%;
}

/*Courses Section (removed)*/
/*#courses{
    margin:10%;
    display: flex;
}
.chead{
    display: flex;
    text-justify: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: auto;
}*/
/*End of Main Page*/

/*Wip Page*/
#wip{
    margin-top:240px;
    min-height:500px;
    text-align:center;
    background-image:url('./img/filler.webp'); 
    background: cover;
    display: flex;
}
#wip .bgImage{
height: 100%;
height: 100%;
align-items: center;
}

/*Camp Page*/
#c2head{
    margin: 0% 10%;
}
#camp2{
    margin: 5% 10% 5% 10%;
    background-image:url('./img/filler.webp');
}

/*Gallery Page*/
.ghead{
    margin:5% 10%;
    
    font-size: larger;
}
#glry .container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    grid-template-areas: 'a1 a2';
    display: grid;
    margin: 0% 5% 2% 5%;
}
#glry .g1{
    grid-area: a1;
    background-image:url('./img/stu.webp');
}
#glry .g2{
    grid-area: a2;
    background-image:url('./img/port.webp');
}
#glry .g1, #glry .g2{
    background-size: cover;
    width: 80%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: +1;
}
.g1 .bgImage, .g2 .bgImage{
    height: 100%;
}

/*Newsletter Page*/
#nhead{
    margin-top: -50px;
    margin: 0px 20px;
}
#news{
    margin: 0px 50px;
    background-image:url('./img/filler.webp');
}
#news .bgImage{
    height: 900px;
}

@media(max-width:700px){
    .top-nav{
        display: block;
        margin-top: -200px;
    }
    
    h2 {
        vertical-align: center;
        text-align: center;
      }
      
      html, body {
        margin: 0;
        height: 100%;
      }
      body{
        margin-top: 200px;
      }
      
      * {
        font-family: "Raleway";
        box-sizing: border-box;
      }
      
      .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: lightgray;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 50px;
        padding: 1em;
      }
      
      .menu a{
        text-decoration: none;
            color: purple;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
      }
    .menu a:hover{
        color: lightblue;
    }

      .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .menu > li {
        margin: 0 1rem;
        overflow: hidden;
      }
      
      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #menu-toggle {
        display: none;
        background: gray;
      }
      
      .menu-button,
      .menu-button::before,
      .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }
      
      .menu-button::before {
        content: '';
        margin-top: -8px;
      }
      
      .menu-button::after {
        content: '';
        margin-top: 8px;
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
        background: gray
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button {
        background: gray;
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
      
      @media (max-width: 700px) {
        .menu-button-container {
          display: flex;
        }
        .menu {
          position: absolute;
          top: 0;
          margin-top: 50px;
          left: 0;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
          border: 1px solid #333;
          height: 2.5em;
          padding: 0.5em;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .menu > li {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0.5em 0;
          width: 100%;
          color: white;
          background-color: #fff;
        }
        .menu > li:not(:last-child) {
          border-bottom: 0.25px solid grey;
        }
      }
    .ft h1{
        display:none;
    }
    .ft{
        font-size: x-small;
        margin: 3% 1%;
    }
    body{
        margin-top: 200px;
    }

    #glry .container{
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        'a1'
        'a2';
    }
        .g1{
            grid-area: a1;
            margin: 20px;
        }
        .g2{
            grid-area: a2;
            margin: 20px;
        }
}