/*Universal*/
body{
    font-size: 15px/1.5;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: white; 
}
.container{
    width:100%;
    margin:auto;
    overflow:hidden; 
}
.button{
    text-decoration: none;
    color: #000;
    background-color: lightgray;
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    border: 2px solid #000;
    margin: .5em 0;
}
.button:hover{
    opacity: 0.75;
}

footer{
    display: flex;
    font-size: 15px/1.5;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    width: 100%;
    height:100px;
    color: #fff;
    background-image: url(./img/footer.png);
    background-position: center;
    background-size: cover;
}
footer a{
    text-decoration: none;
    color: #fff;
    font-size: 15px/1.5;
}
.ft{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px 5%;
    width: auto;
    flex: auto;
}

.navbar{
    background:#fff;
    height: 120px;
    width: 100%;
    padding: 40px 0px;
    position: fixed;
    z-index: +1;
    margin-top:-240px;
    display:flex;
}
.navbar a{
    color: purple;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.navbar a:hover{
    color: lightblue;
}
.navbar .container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
}
.navbar ul{
    display: flex;
    list-style: none;
    padding: 0px;
}
.navbar ul li{
    display: flex;
    margin-left: 15px;
    margin-right:15px;
    align-items: center;
}
.navbar logo{
    margin: 0px;
}
/*End of Universal*/

/*Main Page*/
#main{
    min-height:800px;
    text-align:center;
    background-image:url('./img/main.png'); 
    display: flex;
    text-justify: center;
}
body{
    margin-top:240px;
}
#main h1{
    font-size: 300%;
}
#main .bgImage, #wip .bgImage, #footer .bgImage, #news .bgImage{
background-position: center;
background-size: cover;
width: 100%;
height: 800px;
z-index: -1;
display: cover;
overflow: hidden;
}

/*Main Blog Section*/
#camp{
    margin: 150px;
    color: blueviolet;
}
#camp text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#camp .button{
    background-color: blueviolet;
    color: #fff;  
}

#gallery{
    margin: 150px;
    margin-top: 0px;
    color: lightseagreen;
}
#gallery .button{
    background-color: lightseagreen;
    color: #fff;
}
/* Formatting for Gallery and Camp*/
.image-c{
    display: flex;
    flex-flow: wrap;
    
}
.con-item{
    width:100%; 
}
.con-item img {
    max-height: 100%;
    max-width: 100%;
}

/*Courses Section (removed)*/
/*#courses{
    margin:150px;
    display: flex;
}
.chead{
    display: flex;
    text-justify: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: auto;
}*/
/*End of Main Page*/

/*Wip Page*/
#wip{
    margin-top:240px;
    min-height:500px;
    text-align:center;
    background-image:url('./img/filler.webp'); 
    background: cover;
    display: flex;
}
#wip .bgImage{
height: 500px;
align-items: center;
}

/*About Us Page*/

/*Gallery Page*/
#ghead{
    margin:150px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#ghead .g1{
    grid-column: 1/2;
}
#ghead .g2{
    grid-column: 2/2;
}

/*Newsletter Page*/
#nhead{
    margin-top: -50px;
    margin: 0px 20px;
}
#news{
    margin: 0px 50px;
    background-image:url('./img/filler.webp');
}
#news .bgImage{
    height: 900px;
}