body{
    font-size: 15px/1.5;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: white;
    grid-template-areas:
    'a1 a2 a3 a4 a5 a6 a7'
    'b1 b2 b3 b4 b5 b6 b7'
    'c1 c2 c3 c4 c5 c6 c7';

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 80px;
}
.container{
    width:100%;
    margin:auto;
    overflow:hidden; 
}
#main{
    margin-top:240px;
    min-height:800px;
    text-align:center;
    background-image:url('./img/main.png'); 
    display: flex;
    text-justify: center;
}
#main h1{
    font-size: 300%;
}

#main .bgImage, #wip .bgImage, #footer .bgImage{
background-position: center;
background-size: cover;
width: 100%;
height: 800px;
z-index: -1;
background: rgba(0,0,0, 0.5);
}

.button{
    text-decoration: none;
    color: #000;
    background-color: lightgray;
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    border: 2px solid #000;
    margin: .5em 0;
}
.button:hover{
    opacity: 0.75;
}

footer{
    display: flex;
    font-size: 15px/1.5;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    width: 100%;
    height:450px;
    background-color: white;
    text-align: center;
    text-justify: center;
    margin-bottom: 100px;
    background-image: url(./img/footer.jpeg);
}

footer .bgImage{
    height:600px;  
}

.navbar{
    background:#fff;
    height: 120px;
    width: 100%;
    padding: 40px;
    position: fixed;
    z-index: +1;
    margin-top:-240px;
    border-bottom: 2px lightgrey;
    display:flex;
}

.navbar a{
    color: purple;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover{
    color: lightblue;
}

.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin-left: 20px;
}

#camp{
    margin: 150px;
    font: aqua;
}

#camp text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#camp button{
    color: aqua;  
}

#gallery{
    margin: 150px;
    margin-top: 0px;
}

#gallery image{
    
}
#courses{
    margin:150px
    display: flex;
}

/*wip page*/

#wip{
    margin-top:240px;
    min-height:800px;
    text-align:center;
    background-image:url('./img/filler.webp'); 
    display: flex;
    text-justify: center;
}

/*Gallery Page*/
#ghead{
    margin:150px;
}